.login-section {
    width: 100%;
    background: #aaa;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    display: inline-block;
    vertical-align: middle;
}
.login-container {
    background: white;
    width: 60%;
    height: 85%;
    border-radius: 5px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.left-side-image {
    background: url("https://s3.rdbuz.com/Images/webplatform/contextualLogin/desktop-payment-offers.svg")
        no-repeat;
    background-size: cover;
    position: relative;
    width: 50%;
    height: 100%;
    padding: 24px;
    text-align: left;
}

.left-side-image p {
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.signin-module {
    width: 50%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.logo {
    background: url("https://s3.rdbuz.com/Images/logo_r.png") no-repeat;
    height: 60px;
    margin-top: -6px;
}
.signin-module p {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    color: #d84e55;
    margin-left: 0;
    margin-bottom: 30px;
    text-align: left;
}

.close-btn {
    position: absolute;
    top: 0%;
    right: 0;
    font-size: 19px;
    font-weight: 700;
}
.form-group input {
    height: 40px;
    border: 1px solid black;
    margin: 10px;
}

.form-group input:focus {
    outline: none;
    border: none;
    border-color: #ff0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6);
}
.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email i {
    margin-right: 10px;
}
.terms {
    font-size: 12px;
    margin-top: 20px;
}
.btn:focus {
    outline: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6);
}
