.search-results-section {
    margin-top: 50px;
}
.search-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background: white;
    text-align: center;
    height: 60px;
    padding: 10px 20px;
    border-bottom: 1px solid #aaa;
}
.search-header > * {
    margin-right: 25px;
}
.booked {
    pointer-events: none;
    color: #aaa;
}
