.search-results-container {
    width: 100%;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #aaaa;
    position: relative;
}

.bus-operator {
    margin-bottom: 20px;
    font-weight: bolder;
}

.view-seats {
    border-radius: 0;
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0px;
}
.departure {
    display: flex;
    flex-direction: column;
}
.dep-from,
.arr-to {
    font-size: small;
}
.dep-time,
.arr-time,
.fare {
    font-weight: bolder;
}
.duration {
    font-weight: lighter;
}
.bus-amenities {
    font-size: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bus-info-container {
    width: 15%;
}
