.carousel-wrapper {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(241, 238, 238);
}
.carousel-container {
    display: flex;
}
.offer-slide-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: white;
    padding: 15px;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
}
.offer-code,
.offer-det {
    font-size: 12px;
    font-weight: 600;
}
