.HeroMain {
    width: 1122px;
    height: 340px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-top: 50px;
}
.img2_Hero {
    float: left;
    margin: 20px;
    background-repeat: no-repeat;
    background-image: url(//s3.rdbuz.com/Images/webplatform/measures/safetyplus.svg);
    width: 88px;
    height: 88px;
    background-size: contain;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.subHeader_hero {
    float: left;
    width: 83%;
    margin-top: 34px;
}
.info_hero {
    margin-left: 128px;
}
.info_hero2 {
    margin-left: 99px;
    display: inline-block;
}
.info_hero,
.info_hero2 {
    float: left;
    width: 200px;
    padding-top: 33px;
}
.Title_hero {
    font-weight: bolder;
    text-align: left;
    color: #3e3e52;
    font-size: 32px;
    font-weight: 700;
    margin-top: 27px;
}

.subtext_hero .know-more-anchor {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.subtext_hero {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.3px;
    text-align: left;
    color: #7e7e8c;
    margin-top: 10px;
}

.img3_hero,
.img4_Hero {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.img3_hero {
    background-image: url(//s3.rdbuz.com/images/webplatform/india/HeroFeature/tip-icon.png);
    width: 24px;
    height: 24px;
}
.Herotext1 {
    line-height: 1.71;
    letter-spacing: 0.3px;
}
.img4_Hero {
    background-image: url(//st.redbus.in/Images/safety/landing/measures/safety_plus_tag.svg);
    width: 74px;
    height: 18px;
    margin-top: -4px;
}
.titl_hero,
.value_hero {
    width: 278px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.3px;
    text-align: left;
}
.titl_hero {
    height: 24px;
    font-size: 19px;
    font-weight: bolder;
    color: #1446a0;
}
.value_hero {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: #34495e;
    font-weight: 700;
}

.text_hero {
    width: 278px;
    height: 60px;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.3px;
    color: #34495e;
    text-align: left;
}
.subtext_hero .know-more-anchor {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: blue;
    margin-left: 5px;
}
