#advantage_div {
    padding-bottom: 0;
    padding-top: 15px;
    background-color: #ededed;
}
.main-body {
    padding: 0 20px;
}
.aw {
    margin: 0 auto;
}
.heading-1 {
    font-size: 30px;
    line-height: 1.1em;
    color: #4a4a4a;
    font-weight: 600;
}
.ah {
    font-weight: 600;
}
.ad,
.ah {
    text-align: center;
}
.promise-head-main {
    margin-top: 13px;
}
.aa {
    margin: 30px auto;
    color: #8d8d8d;
    margin-top: 13px;
}
.our-promise-blocks > div {
    box-shadow: 0 0 1.2px #686868;
    height: 390px;
    color: #3c3d41;
    background-color: #fff;
}

.aa div {
    text-align: center;
    margin: 10px 0;
}
.aa-25 {
    width: 25%;
    position: relative;
}
.fl {
    float: left;
}
.our-promise-blocks .imgCont {
    margin-top: 35px;
    margin-bottom: 15px;
    min-height: 125px;
}
.our-promise-blocks .descCont {
    margin-left: 15px;
    margin-right: 15px;
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 60%;
}
