.seat-select-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seat-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    border: 1px solid #aaa;
    /* width: 500px; */
}

.upper-seats,
.lower-seats {
    width: 100%;
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
    /* margin-bottom: 20px; */
}

.upper-right-seats,
.upper-left-seats,
.lower-right-seats,
.lower-left-seats {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.upper-right-seats > *,
.upper-left-seats > *,
.lower-right-seats > *,
.lower-left-seats > * {
    margin: 00px 20px;
}
/* .btn {
    margin: 0;
    padding: 0;
} */

#seat-selected {
    background: chartreuse;
}
