ul {
    padding: 0;
    margin: 0;
}
nav {
    position: fixed;
    top: 0;
    background: #d84f57;
    z-index: 100;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.redbus-logo {
    color: white;
    background: url("https://www.redbus.in/i/59538b35953097248522a65b4b79650e.png")
        no-repeat;
    width: 79px;
    height: 49px;
    text-indent: -1000px;
    float: left;
    margin-right: 20px;
}
.nav-start,
.nav-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-end-ul,
.nav-start-ul {
    display: flex;
    justify-content: space-evenly;
}
.nav-end-ul li,
.nav-start-ul li {
    margin-right: 15px;
}
.profile {
    cursor: pointer;
}
.nav-end-ul li a,
.nav-start-ul li a {
    color: white;
}
.profile svg {
    height: 25px;
    width: 25px;
}
.drop-down {
    position: absolute;
    display: flex;
    top: 60px;
    right: 40px;
}
.login-drop-down {
    position: absolute;
    display: flex;
    top: 60px;
    right: 40px;
    flex-direction: column;
}
.drop-down-item {
    margin-top: 0px;
    border-radius: 0;
}
