.awards-section {
    margin-bottom: 10px;
    margin-top: 30px;
}
.awards-container h2 {
    margin-bottom: 80px;
}
.awards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 30px auto;
    padding: 0 40px;
}
.awards-container > a {
    width: 33.33%;
}
.awards-container a {
    text-align: center;
    margin: 10px 10px;
    cursor: pointer;
    color: #4a4a4a;
}
.awards img {
    margin-bottom: 30px;
}

.award-desc {
    width: 186px;
    margin: 0 auto;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 54px;
}
