.search-btn {
    background-color: red;
    color: #fff;
    padding: 0 1rem;
    border: none;
    height: 100%;
}
.search-container {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://st.redbus.in/Images/INDOFFER/COVID-19/heroimage2.png");
    background-size: cover;
}
.search-box {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    height: 100%;
    outline: none;
    text-decoration: none;
    border: 1px solid gray;
    /* padding: 10px; */
}
input::placeholder {
    padding: 10px;
}
.MuiFormLabel-root.Mui-focused {
    color: white;
}
#city-search-input {
    margin: 0;
    width: 200px;
    background: white;
    border: none;
    outline: none;
    height: 100%;
}
