* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    color: #4a4a4a;
    height: 100%;
    overflow-y: scroll;
    word-break: break-word;
    font-family: Montserrat;
    /* font-size: 14px;
    font-weight: 400; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
